{% extends 'account/main.html' %}

{% block title %}
    Reset Password.
{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Reset your password</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="RESET">
        </form>
    {% else %}
        <h2>The link for password reset is invalid, maybe it has been used!</h2>
        <p>Please request a new password reset.</p>
    {% endif %}
{% endblock %}